html,
body {
    background-color: #f3f3f3;
}

#nav-bar {
    transition: box-shadow 0.5s ease-in-out;
}

.navbar.sombra-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home {
    background-color: #ffc107;
}

.caixa {
    padding: 30px 0;
    border-bottom: 1px solid rgb(225, 225, 220);
}

#conteudo {
    margin-top: 65px;
    background-color: #f3f3f3;
}

footer a {
    font-size: 18px;
    margin: 3px;
    color: rgb(25, 25, 25);
}

a:hover {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

#footer-links {
    order: 1;
}

#footer-social {
    order: 2;
}

@media (max-width: 768px) {
    .texto-principal {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .texto-principal {
        font-size: 40px;
    }

    #footer-links {
        font-size: 16px;
        order: 2;
        /* Inverte a ordem, colocando os links em segundo lugar */
        margin-top: 10px;
    }

    #footer-social {
        order: 1;
        /* Inverte a ordem, colocando os ícones de redes sociais em primeiro lugar */
    }
}